/*
	Draft
		file: css/index.css
*/

@import "lib/base";

$total-columns: 12;
$column-width: 2em;
$gutter-width: 1em;
$grid-padding: $gutter-width;


/*
	= Appendix
		I. Media Queries
		II.
*/

/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}


/*
	II. Universal
*/

body {
	background: $base;
	color: $text;
	font: 300 100%/1.75em $sans-serif;
}

a {
	color: $text;
	text-decoration: none;

	&:hover {
		color: lighten($text, 10%);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1.5em;
}

img {
	max-width: 100%;
}

p, label {
	font-size: 0.9em;
}

/*
	III. Header
*/

#contain > header.index {
	margin-bottom: 1.75em;
	margin-top: 3 * 1.75em;
	text-align: center;

	.inner {
		@include container;
	}
}


/*
	IV. Main
*/

main {
	text-align: center;

	h2 {
		font-weight: 100;
	}

	.section {
		@include container;

		padding-bottom: 2 * 1.75em;


		figure {
			@include span-columns(4, 12);

			&:last-child {
				@include omega;
			}

			i {
				font-size: 2em;
			}

			figcaption h3 {
				font-weight: normal;
			}
		}
	}

	nav {
		margin: 0 auto;
		// padding-top: 1.75em;

		li {
			display: inline-block;
		}
	}
}
